@tailwind base;
@tailwind components;
@tailwind utilities; 


@layer components{
    .navlinkText {
        @apply  block py-2 px-4 h-10  text-center text-lg text-white box-border hover:bg-gray-400 hover:bg-opacity-20 rounded select-none transition-colors
    }
    .navlinkTextActive{
        @apply  border-b-2 box-border border-sky-500
    }
    /* .App{
        @apply  min-h-screen dark:bg-gradient-to-b dark:from-gray-900 dark:to-gray-800
    } */
}

#root{
    height: 100vh;
    min-width: 250px;
}
body > *{
    font-family: sans-serif;
}